@model List<MILILAssesment.Models.Entities.PRBookInfo>
@if(Model != null && Model.Any())
{
<div class="print-content" style="min-height:450px">
<table class="table table-striped">
    <thead>
        <tr>
            <th>Reg. No.</th>
            <th>Reg. Date</th>
            <th>Reg. By</th>
            <th>Issue Qty</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td><a  asp-controller="PRBook" asp-action="Detail" asp-route-id="@item.Id"> @item.ReqNo</a> </td>
                <td>@item.ReqDate</td>
                <td>@item.ReqBy</td>
                <td>@item.IssuedQty</td>
                <td>@item.Status</td>
                <td></td>
            </tr>

        }

    </tbody>



</table>
</div>
   

    <button class="btn btn-primary" onclick="printTable()">Print</button>
}
else
{
    <p>There is no PRBook</p>
}
    <script>
        function printTable() {
            var printContent = document.querySelector('.print-content');
            var originalBodyContent = document.body.innerHTML;

            document.body.innerHTML = printContent.outerHTML;

            window.print();

            document.body.innerHTML = originalBodyContent;
        }
    </script>
