@model List<MILILAssesment.Models.Entities.PRBookInfo>
<button class="next-btn next-btn-normal next-btn-medium trigger-button" type="button"> Print </button>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 48px;"> </th>
            <th>Reg. No.</th>
            <th>Reg. Date</th>
            <th>Reg. By</th>
            <th>Issue Qty</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td><input type="checkbox" aria-checked="false"> </td>
                <td><a  asp-controller="PRBook" asp-action="Detail" asp-route-id="@item.Id"> @item.ReqNo</a> </td>
                <td>@item.ReqDate</td>
                <td>@item.ReqBy</td>
                <td>@item.IssuedQty</td>
                <td>@item.Status</td>
                <td></td>
            </tr>

        }

    </tbody>



</table>